# .env

# API/WS/AUTH 설정
API_HOST=http://10.0.2.2:8080               # Spring Boot 서버 (경로 제외)
AI_HOST=http://192.168.0.3:8001             # FastAPI 서버 (경로 제외)
IMAGE_BASE_URL=http://10.0.2.2:8080         # lib/common/utils/http_util.dart (이미지)
WS_CHAT_URL=ws://10.0.2.2:8080/ws           # lib/common/websocket_service.dart (채팅)
WS_LIVEMAP_URL=ws://10.0.2.2:8080/ws-stomp  # 라이브맵용 WS (리팩터 시 사용 예정)

# Kakao A
#KAKAO_NATIVE_APP_KEY=9c1ddd56216285f8f6a6e015073981bd
#KAKAO_REDIRECT_URI=kakao9c1ddd56216285f8f6a6e015073981bd://oauth

# Facebook
FACEBOOK_APP_ID=689815444162329
FACEBOOK_CLIENT_TOKEN=334d584ced9e9427459254aea99e92f5

# Kakao B (테스트를 위한 세팅)
KAKAO_NATIVE_APP_KEY=8afa85c4f0d93c3f4b173e745a4e67c9
KAKAO_REDIRECT_URI=kakao8afa85c4f0d93c3f4b173e745a4e67c9://oauth